# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [1]:
import pandas as pd
insurance_company_df=pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv")
insurance_company_df2=pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv")
insurance_company_df3=pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv")

In [2]:
insurance_company_df.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [3]:
insurance_company_df.shape

(4008, 11)

In [4]:
insurance_company_df2.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Total Claim Amount,Policy Type,Vehicle Class
0,GS98873,Arizona,F,Bachelor,323912.47%,16061,88,1/0/00,633.6,Personal Auto,Four-Door Car
1,CW49887,California,F,Master,462680.11%,79487,114,1/0/00,547.2,Special Auto,SUV
2,MY31220,California,F,College,899704.02%,54230,112,1/0/00,537.6,Personal Auto,Two-Door Car
3,UH35128,Oregon,F,College,2580706.30%,71210,214,1/1/00,1027.2,Personal Auto,Luxury Car
4,WH52799,Arizona,F,College,380812.21%,94903,94,1/0/00,451.2,Corporate Auto,Two-Door Car

In [5]:
insurance_company_df2.shape

(996, 11)

In [6]:
insurance_company_df3.head()

,Customer,State,Customer Lifetime Value,Education,Gender,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Total Claim Amount,Vehicle Class
0,SA25987,Washington,3479.137523,High School or Below,M,0,104,0,Personal Auto,499.200000,Two-Door Car
1,TB86706,Arizona,2502.637401,Master,M,0,66,0,Personal Auto,3.468912,Two-Door Car
2,ZL73902,Nevada,3265.156348,Bachelor,F,25820,82,0,Personal Auto,393.600000,Four-Door Car
3,KX23516,California,4455.843406,High School or Below,F,0,121,0,Personal Auto,699.615192,SUV
4,FN77294,California,7704.958480,High School or Below,M,30366,101,2,Personal Auto,484.800000,SUV

In [7]:
insurance_company_df3.shape

(7070, 11)

In [8]:
combined_insurance_company=pd.concat([insurance_company_df,insurance_company_df2,insurance_company_df3], axis=0)
combined_insurance_company.shape

(12074, 13)

In [9]:
import data_cleaning
combined_insurance_company=data_cleaning.clean_column_names(combined_insurance_company)
combined_insurance_company.head()

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount,state,gender
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934,NaN,NaN
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935,NaN,NaN
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247,NaN,NaN
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344,NaN,NaN
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323,NaN,NaN

In [10]:
combined_insurance_company["gender"]=combined_insurance_company["gender"].replace({'Femal': 'F', 'Male': 'M', 'female': 'F'})

In [11]:
combined_insurance_company["education"]=combined_insurance_company["education"].replace({'Bachelors': 'Bachelor'})

In [12]:
combined_insurance_company["customer_lifetime_value"] = combined_insurance_company["customer_lifetime_value"].astype(str)
combined_insurance_company["customer_lifetime_value"] = combined_insurance_company["customer_lifetime_value"].str.replace("%", "", regex=False)

In [13]:
combined_insurance_company["vehicle_class"]=combined_insurance_company["vehicle_class"].replace({
    'Luxury Car':'Luxury',
    'Sports Car': 'Luxury',
    "Luxury SUV":'Luxury'
})

In [14]:
combined_insurance_company['customer_lifetime_value']=pd.to_numeric(combined_insurance_company['customer_lifetime_value'], errors= 'coerce')
combined_insurance_company.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12074 entries, 0 to 7069
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   9137 non-null   object
 1   state                      2067 non-null   object
 2   gender                     1945 non-null   object
 3   education                  9137 non-null   object
 4   customer_lifetime_value    9130 non-null   float64
 5   income                     9137 non-null   float64
 6   monthly_premium_auto       9137 non-null   float64
 7   number_of_open_complaints  9137 non-null   object
 8   policy_type                9137 non-null   object
 9   vehicle_class              9137 non-null   object
 10  total_claim_amount         9137 non-null   float64
 11  state                      7070 non-null   object
 12  gender                     7070 non-null   object
dtypes: float64(4), object(9)
memory usage: 1.3+ MB

In [15]:
# applying a lambda function to handle the splitting
combined_insurance_company['number_of_open_complaints'] = combined_insurance_company['number_of_open_complaints'].apply(
    lambda x: x.split('/')[1] if isinstance(x, str) and '/' in x else x
)

# Converting the column to numeric, handling any non-numeric entries
combined_insurance_company['number_of_open_complaints'] = pd.to_numeric(combined_insurance_company['number_of_open_complaints'], errors='coerce')

# Checking unique values to verify the results
print(combined_insurance_company['number_of_open_complaints'].unique())

[ 0.  2.  1.  3.  5.  4. nan]

In [16]:
combined_insurance_company=data_cleaning.handle_null_values(combined_insurance_company)

In [17]:
combined_insurance_company=data_cleaning.remove_duplicates(combined_insurance_company)

In [18]:
combined_insurance_company=data_cleaning.remove_duplicates(combined_insurance_company)

In [19]:
combined_insurance_company.head()

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount,state,gender
0,RB50392,Washington,N,Master,1.821964e+05,0,1000,0,Personal Auto,Four-Door Car,2.704934,NaN,N
1,QZ44356,Arizona,F,Bachelor,6.979536e+05,0,94,0,Personal Auto,Four-Door Car,1131.464935,NaN,N
2,AI49188,Nevada,F,Bachelor,1.288743e+06,48767,108,0,Personal Auto,Two-Door Car,566.472247,NaN,N
3,WW63253,California,M,Bachelor,7.645862e+05,0,106,0,Corporate Auto,SUV,529.881344,NaN,N
4,GA49547,Washington,M,High School or Below,5.363077e+05,36357,68,0,Personal Auto,Four-Door Car,17.269323,NaN,N

In [20]:
combined_insurance_company.dtypes

customer                      object
state                         object
gender                        object
education                     object
customer_lifetime_value      float64
income                         int32
monthly_premium_auto           int32
number_of_open_complaints       int8
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
state                         object
gender                        object
dtype: object

In [21]:
combined_insurance_company[["income", "monthly_premium_auto", "number_of_open_complaints"]]=combined_insurance_company[["income", "monthly_premium_auto", "number_of_open_complaints"]].astype("int64")
combined_insurance_company.dtypes

customer                      object
state                         object
gender                        object
education                     object
customer_lifetime_value      float64
income                         int64
monthly_premium_auto           int64
number_of_open_complaints      int64
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
state                         object
gender                        object
dtype: object

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [22]:
marketing_customer_analysis_df=pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv")
marketing_customer_analysis_df.head()

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,1

In [23]:
marketing_customer_analysis_df.shape

(10910, 27)

In [24]:
marketing_customer_analysis_df.dtypes

unnamed:_0                         int64
customer                          object
state                             object
customer_lifetime_value          float64
response                          object
coverage                          object
education                         object
effective_to_date                 object
employmentstatus                  object
gender                            object
income                             int64
location_code                     object
marital_status                    object
monthly_premium_auto               int64
months_since_last_claim          float64
months_since_policy_inception      int64
number_of_open_complaints        float64
number_of_policies                 int64
policy_type                       object
policy                            object
renew_offer_type                  object
sales_channel                     object
total_claim_amount               float64
vehicle_class                     object
vehicle_size                      object
vehicle_type                      object
month                              int64
dtype: object

In [25]:
marketing_customer_analysis_df.isnull().any()

unnamed:_0                       False
customer                         False
state                            False
customer_lifetime_value          False
response                         False
coverage                         False
education                        False
effective_to_date                False
employmentstatus                 False
gender                           False
income                           False
location_code                    False
marital_status                   False
monthly_premium_auto             False
months_since_last_claim          False
months_since_policy_inception    False
number_of_open_complaints        False
number_of_policies               False
policy_type                      False
policy                           False
renew_offer_type                 False
sales_channel                    False
total_claim_amount               False
vehicle_class                    False
vehicle_size                     False
vehicle_type                     False
month                            False
dtype: bool

In [26]:
marketing_customer_analysis_df.isnull().sum()

unnamed:_0                       0
customer                         0
state                            0
customer_lifetime_value          0
response                         0
coverage                         0
education                        0
effective_to_date                0
employmentstatus                 0
gender                           0
income                           0
location_code                    0
marital_status                   0
monthly_premium_auto             0
months_since_last_claim          0
months_since_policy_inception    0
number_of_open_complaints        0
number_of_policies               0
policy_type                      0
policy                           0
renew_offer_type                 0
sales_channel                    0
total_claim_amount               0
vehicle_class                    0
vehicle_size                     0
vehicle_type                     0
month                            0
dtype: int64

In [27]:
marketing_customer_analysis_df = marketing_customer_analysis_df.drop(columns=['unnamed:_0'])
marketing_customer_analysis_df.head(1)

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,DK49336,Arizona,4809.21696,No,Basic,College,2011-02-18,Employed,M,48029,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.8,Four-Door Car,Medsize,A,2

In [28]:
marketing_customer_analysis_df.duplicated().sum()

443

In [29]:
duplicates_all = marketing_customer_analysis_df[marketing_customer_analysis_df.duplicated(keep=False)]
print(duplicates_all)

      customer       state  customer_lifetime_value response  coverage  \
0      DK49336     Arizona              4809.216960       No     Basic
11     GE63585  California              2420.711888       No     Basic
27     MQ68407      Oregon              4376.363592      Yes   Premium
47     PR23514  California              7664.219255       No     Basic
50     MS94619  California              5111.304579       No     Basic
...        ...         ...                      ...      ...       ...
10872  XT67997  California              5979.724161      Yes  Extended
10886  OS84395      Nevada              7611.949286       No  Extended
10888  MN95006  California              6928.601611       No     Basic
10894  EX63393  California              6314.492009       No  Extended
10899  WU60905  California              8610.667489       No     Basic

                  education effective_to_date employmentstatus gender  income  \
0                   College        2011-02-18         Employed      M   48029
11                 Bachelor        2011-02-07         Employed      M   31710
27                 Bachelor        2011-02-28         Employed      F   63774
47                  College        2011-01-23         Employed      M   60184
50     High School or Below        2011-02-13         Employed      F   76448
...                     ...               ...              ...    ...     ...
10872  High School or Below        2011-02-07         Employed      F   57693
10886              Bachelor        2011-02-25         Employed      M   90252
10888              Bachelor        2011-01-10         Employed      M   22907
10894                Master        2011-02-27         Employed      F   66947
10899  High School or Below        2011-02-06       Unemployed      F       0

       ... number_of_policies     policy_type        policy  renew_offer_type  \
0      ...                  9  Corporate Auto  Corporate L3            Offer3
11     ...                  1  Corporate Auto  Corporate L3            Offer1
27     ...                  1   Personal Auto   Personal L3            Offer2
47     ...                  1   Personal Auto   Personal L3            Offer2
50     ...                  3   Personal Auto   Personal L3            Offer3
...    ...                ...             ...           ...               ...
10872  ...                  3   Personal Auto   Personal L3            Offer2
10886  ...                  7  Corporate Auto  Corporate L2            Offer2
10888  ...                  1   Personal Auto   Personal L2            Offer4
10894  ...                  6   Personal Auto   Personal L1            Offer3
10899  ...                  9  Corporate Auto  Corporate L1            Offer3

       sales_channel  total_claim_amount  vehicle_class vehicle_size  \
0              Agent          292.800000  Four-Door Car      Medsize
11       Call Center          199.551735   Two-Door Car      Medsize
27             Agent           60.036683  Four-Door Car      Medsize
47               Web          161.615740     Luxury SUV      Medsize
50               Web          302.400000  Four-Door Car      Medsize
...              ...                 ...            ...          ...
10872          Agent          547.200000  Four-Door Car      Medsize
10886            Web          122.924197  Four-Door Car      Medsize
10888    Call Center           49.187760     Luxury SUV      Medsize
10894          Agent          374.400000  Four-Door Car        Small
10899            Web          532.800000            SUV      Medsize

      vehicle_type month
0                A     2
11               A     2
27               A     2
47               A     1
50               A     2
...            ...   ...
10872            A     2
10886            A     2
10888            A     1
10894            A     2
10899            A     2

[858 rows x 26 columns]

In [30]:
selected_columns = duplicates_all[duplicates_all['customer'] == "DK49336"]
print(selected_columns.head(20))

     customer    state  customer_lifetime_value response coverage education  \
0     DK49336  Arizona               4809.21696       No    Basic   College
5244  DK49336  Arizona               4809.21696       No    Basic   College

     effective_to_date employmentstatus gender  income  ...  \
0           2011-02-18         Employed      M   48029  ...
5244        2011-02-18         Employed      M   48029  ...

     number_of_policies     policy_type        policy  renew_offer_type  \
0                     9  Corporate Auto  Corporate L3            Offer3
5244                  9  Corporate Auto  Corporate L3            Offer3

      sales_channel  total_claim_amount  vehicle_class vehicle_size  \
0             Agent               292.8  Four-Door Car      Medsize
5244          Agent               292.8  Four-Door Car      Medsize

     vehicle_type month
0               A     2
5244            A     2

[2 rows x 26 columns]

In [31]:
marketing_customer_analysis_df.drop_duplicates(inplace=True)
marketing_customer_analysis_df.duplicated().sum()

0

In [33]:
marketing_customer_analysis_df.head(1)

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,DK49336,Arizona,4809.21696,No,Basic,College,2011-02-18,Employed,M,48029,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.8,Four-Door Car,Medsize,A,2

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

In [44]:
print(marketing_customer_analysis_df.columns)

Index(['customer', 'state', 'customer_lifetime_value', 'response', 'coverage',
       'education', 'effective_to_date', 'employmentstatus', 'gender',
       'income', 'location_code', 'marital_status', 'monthly_premium_auto',
       'months_since_last_claim', 'months_since_policy_inception',
       'number_of_open_complaints', 'number_of_policies', 'policy_type',
       'policy', 'renew_offer_type', 'sales_channel', 'total_claim_amount',
       'vehicle_class', 'vehicle_size', 'vehicle_type', 'month'],
      dtype='object')

In [41]:
sales_pivot_table = pd.pivot_table(marketing_customer_analysis_df, values='customer_lifetime_value', 
                        index='sales_channel', 
                        aggfunc='sum').round(2)

print(sales_pivot_table)

               customer_lifetime_value
sales_channel
Agent                      31822870.96
Branch                     23545858.75
Call Center                16550431.05
Web                        12118527.39

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [42]:
#Creating pivot table for average customer lifetime value by gender and education
avg_lifetime_value_pivot_table = pd.pivot_table(marketing_customer_analysis_df, values='customer_lifetime_value', 
                        index=['gender', 'education'], 
                        aggfunc='mean').round(2)

print(avg_lifetime_value_pivot_table)

                             customer_lifetime_value
gender education
F      Bachelor                              7913.45
       College                               7755.03
       Doctor                                7369.59
       High School or Below                  8616.66
       Master                                8226.36
M      Bachelor                              7713.30
       College                               8086.29
       Doctor                                7414.86
       High School or Below                  8162.36
       Master                                8154.61

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

In [43]:
# Ensuring date column is in datetime format
marketing_customer_analysis_df['effective_to_date'] = pd.to_datetime(marketing_customer_analysis_df['effective_to_date'])

# Extract month as a new column
marketing_customer_analysis_df['month'] = marketing_customer_analysis_df['effective_to_date'].dt.month

In [45]:
# Grouping by Policy Type and Month, and count the number of Open Complaints
complaints_summary = marketing_customer_analysis_df.groupby(['policy_type', 'month'])['number_of_open_complaints'].sum().reset_index()

# Ensure long format
complaints_long_format = complaints_summary.melt(id_vars=['policy_type', 'month'], 
                                                 value_vars=['number_of_open_complaints'], 
                                                 var_name='Metric', 
                                                 value_name='Count')

print(complaints_long_format)

      policy_type  month                     Metric        Count
0  Corporate Auto      1  number_of_open_complaints   419.282184
1  Corporate Auto      2  number_of_open_complaints   369.671110
2   Personal Auto      1  number_of_open_complaints  1671.378904
3   Personal Auto      2  number_of_open_complaints  1398.841880
4    Special Auto      1  number_of_open_complaints    83.689793
5    Special Auto      2  number_of_open_complaints    85.842561

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*